name: Build, test, publish the service

env:
  image_name: fastapi-template

on:
  push:
    branches:
      - main

jobs:
  pipeline:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v2

      - name: Log in to Github Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build dev container image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          target: dev-container
          push: false
          tags: ${{ env.image_name }}-dev

      - name: Lint
        run: |
          docker container run --rm -v $(pwd):/work -w /work ${{ env.image_name }}-dev pylint -j0 app

      - name: Test
        run: |
          docker container run --rm --pid=host --privileged -v $(pwd):/work -w /work ${{ env.image_name }}-dev pytest -v
